# **AQI ANALYTICS FOR AIR PURIFIER DEVELOPMENT**

### **IMPORTING LIBRARIES**

In [367]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### **IMPORTING RAW DATAS**

In [368]:
aqi = pd.read_csv("C:/Users/aleej/OneDrive/Documents/data analytics/rpc16_input_file/Dataful_Datasets/day-wise-state-wise-air-quality-index-aqi-of-major-cities-and-towns-in-india.csv")
aqi.head(5)

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note
0,19-06-2025,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN
1,19-06-2025,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN
2,19-06-2025,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN
3,19-06-2025,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
4,19-06-2025,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN

In [369]:
disease = pd.read_csv("C:/Users/aleej/OneDrive/Documents/data analytics/rpc16_input_file/Dataful_Datasets/master-data-state-district-and-disease-wise-cases-and-death-reported-due-to-outbreak-of-diseases-as-per-weekly-reports-under-idsp.csv",encoding='latin-1')
disease.head(5)

,year,week,outbreak_starting_date,reporting_date,state,district,disease_illness_name,status,cases,deaths,unit,note
0,2025,14,05-04-2025,05-04-2025,Assam,Biswanath,Food Poisoning,Reported,18.0,0.0,"cases in absolute number, deaths in absolute n...",NaN
1,2025,14,03-04-2025,04-04-2025,Bihar,Aurangabad,Fever with Rash,Reported,21.0,0.0,"cases in absolute number, deaths in absolute n...",NaN
2,2025,14,31-03-2025,04-04-2025,Bihar,Madhubani,Chickenpox,Reported,14.0,0.0,"cases in absolute number, deaths in absolute n...",NaN
3,2025,14,03-04-2025,04-04-2025,Gujarat,Bhavnagar,Food Poisoning,Reported,20.0,0.0,"cases in absolute number, deaths in absolute n...",NaN
4,2025,14,01-04-2025,01-04-2025,Gujarat,Vadodara,Acute Diarrheal Disease,Reported,20.0,0.0,"cases in absolute number, deaths in absolute n...",NaN

In [370]:
vehicle = pd.read_csv("C:/Users/aleej/OneDrive/Documents/data analytics/rpc16_input_file/Dataful_Datasets/master-data-state-vehicle-class-and-fuel-type-wise-total-number-of-vehicles-registered-in-each-month-in-india.csv")
vehicle.head(5)

,year,month,state,rto,vehicle_class,fuel,value,unit,note
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN

In [371]:
pop = pd.read_excel("C:/Users/aleej/OneDrive/Documents/data analytics/rpc16_input_file/Dataful_Datasets/population-projection-of-india-state-and-gender-wise-yearly-projected-urban-population-2011-2036.xlsx")
pop.head(5)

   year    month        state  gender  value                unit  note
0  2036  October  West Bengal   Total  43964  value in Thousands   NaN
1  2036  October  West Bengal    Male  22615  value in Thousands   NaN
2  2036  October  West Bengal  Female  21349  value in Thousands   NaN
3  2036  October  Uttarakhand   Total   5506  value in Thousands   NaN
4  2036  October  Uttarakhand    Male   2922  value in Thousands   NaN

### **CLEANING DATA**

In [372]:
print("AQI shape:", aqi.shape)
print("Disease shape:", disease.shape)
print("Vehicles shape:", vehicle.shape)
print("Population shape:", pop.shape)

AQI shape: (425971, 9)
Disease shape: (26553, 12)
Vehicles shape: (199552, 9)
Population shape: (8892, 7)

In [373]:
print(aqi["state"].unique())

['Uttar Pradesh' 'Karnataka' 'Maharashtra' 'Rajasthan' 'Andhra Pradesh'
 'Odisha' 'Gujarat' 'Tamil Nadu' 'West Bengal' 'Himachal Pradesh' 'Bihar'
 'Punjab' 'Mizoram' 'Uttarakhand' 'Chhattisgarh' 'Madhya Pradesh' 'Assam'
 'Chandigarh' 'Delhi' 'Kerala' 'Haryana' 'Telangana' 'Manipur' 'Nagaland'
 'Andaman and Nicobar Islands' 'Puducherry' 'Meghalaya' 'Jharkhand'
 'Tripura' 'Sikkim' 'Arunachal Pradesh' 'Jammu and Kashmir']

In [374]:
print("AQI columns:\n", aqi.columns.tolist(), "\n")
print("Disease columns:\n", disease.columns.tolist(), "\n")
print("Vehicles columns:\n", vehicle.columns.tolist(), "\n")
print("Population columns:\n", pop.columns.tolist(), "\n")

AQI columns:
 ['date', 'state', 'area', 'number_of_monitoring_stations', 'prominent_pollutants', 'aqi_value', 'air_quality_status', 'unit', 'note']

Disease columns:
 ['year', 'week', 'outbreak_starting_date', 'reporting_date', 'state', 'district', 'disease_illness_name', 'status', 'cases', 'deaths', 'unit', 'note']

Vehicles columns:
 ['year', 'month', 'state', 'rto', 'vehicle_class', 'fuel', 'value', 'unit', 'note']

Population columns:
 ['year', 'month', 'state', 'gender', 'value', 'unit', 'note']

In [375]:
print(disease["state"].unique())

['Assam' 'Bihar' 'Gujarat' 'Haryana' 'Jharkhand' 'Karnataka' 'Kerala'
 'Madhya Pradesh' 'Meghalaya' 'Odisha' 'Puducherry' 'Tamil Nadu'
 'Uttarakhand' 'West Bengal' 'Manipur' 'Uttar Pradesh' 'Chhattisgarh'
 'Jammu and Kashmir' 'Madhya' 'Andhra Pradesh' 'Maharashtra' 'Sikkim'
 'Nagaland' 'Punjab' 'Rajasthan' 'Tripura' 'Mizoram' 'Goa' 'Arunachal'
 'Dadra and Nagar Haveli' 'Arunachal Pradesh' 'Uttar' 'Himachal Pradesh'
 'Telangana' 'Tamil nadu' 'Andaman and Nicobar Islands' 'Ladakh'
 'Dadra and Nagar Haveli and Daman and Diu' 'Chandigarh' 'Delhi'
 'Daman and Diu' 'Lakshadweep' nan]

In [376]:
print(vehicle["state"].unique())

['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh'
 'Dadra and Nagar Haveli and Daman and Diu' 'Delhi' 'Goa' 'Gujarat'
 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir' 'Jharkhand' 'Karnataka'
 'Kerala' 'Ladakh' 'Lakshadweep' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab'
 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura' 'Uttar Pradesh' 'Uttarakhand'
 'West Bengal']

In [377]:
print(pop["state"].unique())

['West Bengal' 'Uttarakhand' 'Uttar Pradesh' 'Tripura' 'Telangana'
 'Tamil Nadu' 'Sikkim' 'Rajasthan' 'Punjab' 'Puducherry' 'Odisha'
 'Nagaland' 'Mizoram' 'Meghalaya' 'Manipur' 'Maharashtra' 'Madhya Pradesh'
 'Lakshadweep' 'Ladakh' 'Kerala' 'Karnataka' 'Jharkhand'
 'Jammu and Kashmir' 'Himachal Pradesh' 'Haryana' 'Gujarat' 'Goa' 'Delhi'
 'Daman and Diu' 'Dadra and Nagar Haveli' 'Chhattisgarh' 'Chandigarh'
 'Bihar' 'Assam' 'Arunachal Pradesh' 'Andhra Pradesh'
 'Andaman and Nicobar Islands' 'All India']

In [378]:
disease_states = set(disease["state"].dropna().unique())
aqi_states = set(aqi["state"].dropna().unique())

disease_not_in_aqi = disease_states - aqi_states
aqi_not_in_disease = aqi_states - disease_states

print("States in disease but NOT in AQI:", disease_not_in_aqi)
print("States in AQI but NOT in disease:", aqi_not_in_disease)

States in disease but NOT in AQI: {'Daman and Diu', 'Dadra and Nagar Haveli', 'Lakshadweep', 'Arunachal', 'Ladakh', 'Uttar', 'Dadra and Nagar Haveli and Daman and Diu', 'Madhya', 'Goa', 'Tamil nadu'}
States in AQI but NOT in disease: set()

In [379]:
disease["state"] = disease["state"].replace({"Tamil nadu" : "Tamil Nadu",
                                             "Uttar" : "Uttar Pradesh",
                                             "Arunachal" : "Arunachal Pradesh",
                                             "Madhya" : "Madhya Pradesh",
                                             "Dadra and Nagar Haveli":"Dadra and Nagar Haveli and Daman and Diu",
                                             "Daman and Diu" : "Dadra and Nagar Haveli and Daman and Diu"})
disease = disease[~disease["state"].isna()]
print(disease["state"].unique())

['Assam' 'Bihar' 'Gujarat' 'Haryana' 'Jharkhand' 'Karnataka' 'Kerala'
 'Madhya Pradesh' 'Meghalaya' 'Odisha' 'Puducherry' 'Tamil Nadu'
 'Uttarakhand' 'West Bengal' 'Manipur' 'Uttar Pradesh' 'Chhattisgarh'
 'Jammu and Kashmir' 'Andhra Pradesh' 'Maharashtra' 'Sikkim' 'Nagaland'
 'Punjab' 'Rajasthan' 'Tripura' 'Mizoram' 'Goa' 'Arunachal Pradesh'
 'Dadra and Nagar Haveli and Daman and Diu' 'Himachal Pradesh' 'Telangana'
 'Andaman and Nicobar Islands' 'Ladakh' 'Chandigarh' 'Delhi' 'Lakshadweep']

In [380]:
disease["district"] = (
    disease["district"]
        .astype(str)
        .str.replace("\n", " ")
        .str.replace("\r", " ")
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
        .str.title()
)

In [381]:
def classify_district(x):
    if pd.isna(x) or x.strip()=="":
        return "unknown"
    if "all districts" in x.lower():
        return "state_only"
    if "," in x:
        return "multiple"
    return "single"

disease["district_category"] = disease["district"].apply(classify_district)

disease["district_list"] = disease["district"].apply(
    lambda x: [i.strip().title() for i in x.split(",")] 
              if "," in str(x) else None
)
print(disease["district_category"].value_counts())

district_category
single        26406
state_only       69
multiple         43
Name: count, dtype: int64

#### **CLEANING AQI DATA**

In [382]:
aqi["date"] = pd.to_datetime(aqi["date"], dayfirst=True, errors="coerce")
aqi["year"] = aqi["date"].dt.year
aqi["month"] = aqi["date"].dt.month
aqi["month_name"] = aqi["date"].dt.strftime("%b")     # Jan, Feb, ...
aqi["year_month"] = aqi["date"].dt.to_period("M").astype(str)  # '2024-12'
aqi["weekday"] = aqi["date"].dt.day_name()            # Monday, Tuesday...
aqi["is_weekend"] = aqi["weekday"].isin(["Saturday", "Sunday"])
aqi["aqi_value"] = pd.to_numeric(aqi["aqi_value"], errors="coerce")
print("AQI date range:", aqi["date"].min(), "to", aqi["date"].max())
print("Null dates:", aqi["date"].isna().sum())
print("Null AQI values:", aqi["aqi_value"].isna().sum())
aqi.head(5)

AQI date range: 2015-05-01 00:00:00 to 2025-06-19 00:00:00
Null dates: 0
Null AQI values: 0

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note,year,month,month_name,year_month,weekday,is_weekend
0,2025-06-19,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False
1,2025-06-19,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False
2,2025-06-19,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False
3,2025-06-19,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False
4,2025-06-19,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False

In [383]:
aqi.dtypes

date                             datetime64[ns]
state                                    object
area                                     object
number_of_monitoring_stations           float64
prominent_pollutants                     object
aqi_value                                 int64
air_quality_status                       object
unit                                     object
note                                    float64
year                                      int32
month                                     int32
month_name                               object
year_month                               object
weekday                                  object
is_weekend                                 bool
dtype: object

In [384]:
print(sorted(aqi["state"].unique()))

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [385]:
print(len(aqi["area"].unique()))
print(sorted(aqi["area"].unique())[:100])

296
['Agartala', 'Agra', 'Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola', 'Alwar', 'Amaravati', 'Ambala', 'Amravati', 'Amritsar', 'Anantapur', 'Angul', 'Ankleshwar', 'Araria', 'Ariyalur', 'Arrah', 'Asansol', 'Aurangabad', 'Baddi', 'Badlapur', 'Bagalkot', 'Baghpat', 'Bahadurgarh', 'Balasore', 'Ballabgarh', 'Banswara', 'Baran', 'Barbil', 'Bareilly', 'Baripada', 'Barmer', 'Barrackpore', 'Bathinda', 'Begusarai', 'Belapur', 'Belgaum', 'Bengaluru', 'Bettiah', 'Bhagalpur', 'Bharatpur', 'Bhilai', 'Bhilwara', 'Bhiwadi', 'Bhiwandi', 'Bhiwani', 'Bhopal', 'Bhubaneswar', 'Bidar', 'Bihar Sharif', 'Bikaner', 'Bilaspur', 'Bileipada', 'Boisar', 'Brajrajnagar', 'Bulandshahr', 'Bundi', 'Buxar', 'Byasanagar', 'Byrnihat', 'Chamarajanagar', 'Chandigarh', 'Chandrapur', 'Charkhi Dadri', 'Chengalpattu', 'Chennai', 'Chhal', 'Chhapra', 'Chikkaballapur', 'Chikkamagaluru', 'Chittoor', 'Chittorgarh', 'Churu', 'Coimbatore', 'Cuddalore', 'Cuttack', 'Damoh', 'Darbhanga', 'Dausa', 'Davanagere', 'Dehradun', 'Delhi', 'Dewas', 'Dhanbad', 'Dharuhera', 'Dharwad', 'Dholpur', 'Dhule', 'Dindigul', 'Dungarpur', 'Durgapur', 'Eloor', 'Ernakulam', 'Faridabad', 'Fatehabad', 'Firozabad', 'Gadag', 'Gandhi Nagar', 'Gangtok']

In [386]:
aqi.shape
aqi["area"].isna().sum(), (aqi["area"].str.strip()=="").sum()
clean_test = (
    aqi["area"]
    .astype(str)
    .str.strip()
    .str.replace(r"\s+", " ", regex=True)
    .str.title()
)

print("Unique before:", aqi["area"].nunique())
print("Unique after :", clean_test.nunique())

Unique before: 296
Unique after : 296

In [387]:
aqi["aqi_value"].describe()

count    425971.000000
mean        118.853737
std          79.658891
min           3.000000
25%          61.000000
50%          96.000000
75%         153.000000
max         500.000000
Name: aqi_value, dtype: float64

In [388]:

print("Negative AQI:", (aqi["aqi_value"] < 0).sum())
print("Zero AQI:", (aqi["aqi_value"] == 0).sum())
print("AQI > 800:", (aqi["aqi_value"] > 800).sum())
print("AQI > 1000:", (aqi["aqi_value"] > 1000).sum())

Negative AQI: 0
Zero AQI: 0
AQI > 800: 0
AQI > 1000: 0

In [389]:
aqi.nlargest(20, "aqi_value")[["date", "state", "area", "aqi_value"]]

             date           state              area  aqi_value
59644  2024-10-07         Manipur            Imphal        500
185257 2023-04-04  Andhra Pradesh        Vijayawada        500
190514 2023-03-10  Madhya Pradesh            Ujjain        500
190622 2023-03-09  Madhya Pradesh            Ujjain        500
207040 2022-12-10       Karnataka             Gadag        500
297209 2021-03-28       Karnataka             Udupi        500
304974 2021-01-25          Punjab          Rupnagar        500
316022 2020-10-26       Karnataka        Kalaburagi        500
367799 2019-06-09       Karnataka        Kalaburagi        500
394490 2018-06-14          Punjab  Mandi Gobindgarh        500
394539 2018-06-14   Uttar Pradesh     Greater Noida        500
394549 2018-06-13   Uttar Pradesh       Bulandshahr        500
394577 2018-06-13   Uttar Pradesh     Greater Noida        500
395573 2018-05-27  Madhya Pradesh             Satna        500
395656 2018-05-26  Madhya Pradesh             Satna        500
403840 2017-12-21   Uttar Pradesh         Ghaziabad        500
403841 2017-12-21   Uttar Pradesh             NOIDA        500
405705 2017-11-07   Uttar Pradesh         Moradabad        500
409732 2017-07-11   Uttar Pradesh          Varanasi        500
409820 2017-07-08   Uttar Pradesh          Varanasi        500

In [390]:
daily_mean = aqi.groupby("date")["aqi_value"].mean()
daily_mean.describe()

count    3690.000000
mean      129.120492
std        51.405967
min        44.229358
25%        85.419242
50%       124.618758
75%       163.131355
max       302.062500
Name: aqi_value, dtype: float64

In [391]:
aqi.shape

(425971, 15)

In [392]:
def expected_cat(val):
    if val <= 50: return "Good"
    elif val <= 100: return "Satisfactory"
    elif val <= 200: return "Moderate"
    elif val <= 300: return "Poor"
    elif val <= 400: return "Very Poor"
    else: return "Severe"

aqi["expected_status"] = aqi["aqi_value"].apply(expected_cat)


aqi["status_match"] = aqi["air_quality_status"] == aqi["expected_status"]

total_rows = len(aqi)
mismatches = aqi[~aqi["status_match"]]

print("Total rows:", total_rows)
print("Correct labels:", total_rows - len(mismatches))
print("Incorrect labels:", len(mismatches))
print("Data Quality Accuracy:", round((total_rows - len(mismatches)) / total_rows * 100, 2), "%")


if len(mismatches) > 0:
    print("\nExamples of incorrect labels:")
    display(mismatches[["aqi_value", "air_quality_status", "expected_status"]].head(10))
else:
    print("\nDataset is perfectly labeled. No inconsistencies found.")

Total rows: 425971
Correct labels: 425703
Incorrect labels: 268
Data Quality Accuracy: 99.94 %

Examples of incorrect labels:

        aqi_value air_quality_status expected_status
137209        398             Severe       Very Poor
387188        100           Moderate    Satisfactory
387218        200               Poor        Moderate
387283        200               Poor        Moderate
387788         50       Satisfactory            Good
387900        100           Moderate    Satisfactory
388111         50       Satisfactory            Good
388193        100           Moderate    Satisfactory
388228         50       Satisfactory            Good
388243        100           Moderate    Satisfactory

In [393]:
aqi["air_quality_status"] = aqi["expected_status"]
aqi.drop(columns=["expected_status", "status_match"], inplace=True)

In [394]:
def expected_cat(val):
    if val <= 50: return "Good"
    elif val <= 100: return "Satisfactory"
    elif val <= 200: return "Moderate"
    elif val <= 300: return "Poor"
    elif val <= 400: return "Very Poor"
    else: return "Severe"

aqi["expected_status"] = aqi["aqi_value"].apply(expected_cat)


aqi["status_match"] = aqi["air_quality_status"] == aqi["expected_status"]

total_rows = len(aqi)
mismatches = aqi[~aqi["status_match"]]

print("Total rows:", total_rows)
print("Correct labels:", total_rows - len(mismatches))
print("Incorrect labels:", len(mismatches))
print("Data Quality Accuracy:", round((total_rows - len(mismatches)) / total_rows * 100, 2), "%")


if len(mismatches) > 0:
    print("\nExamples of incorrect labels:")
    display(mismatches[["aqi_value", "air_quality_status", "expected_status"]].head(10))
else:
    print("\nDataset is perfectly labeled. No inconsistencies found.")

Total rows: 425971
Correct labels: 425971
Incorrect labels: 0
Data Quality Accuracy: 100.0 %

Dataset is perfectly labeled. No inconsistencies found.

In [395]:
aqi.head(10)

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note,year,month,month_name,year_month,weekday,is_weekend,expected_status,status_match
0,2025-06-19,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True
1,2025-06-19,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True
2,2025-06-19,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True
3,2025-06-19,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True
4,2025-06-19,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True
5,2025-06-19,Maharashtra,Amravati,2.0,"PM10,O3",22,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True
6,2025-06-19,Odisha,Angul,1.0,CO,79,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True
7,2025-06-19,Gujarat,Ankleshwar,1.0,SO2,72,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True
8,2025-06-19,Tamil Nadu,Ariyalur,1.0,PM10,44,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True
9,2025-06-19,West Bengal,Asansol,4.0,"PM2.5,CO,O3",29,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True

In [396]:
severity_map = {
    "Good": 1,
    "Satisfactory": 2,
    "Moderate": 3,
    "Poor": 4,
    "Very Poor": 5,
    "Severe": 6
}

aqi["severity_rating"] = aqi["air_quality_status"].map(severity_map)
aqi.head()

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note,year,month,month_name,year_month,weekday,is_weekend,expected_status,status_match,severity_rating
0,2025-06-19,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1
1,2025-06-19,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1
2,2025-06-19,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1
3,2025-06-19,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2
4,2025-06-19,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2

In [397]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Summer"
    elif month in [6, 7, 8, 9]:
        return "Monsoon"
    else:
        return "Post-Monsoon"

aqi["season"] = aqi["month"].apply(get_season)
aqi["season"].value_counts()

season
Monsoon         132362
Summer          114413
Winter          108792
Post-Monsoon     70404
Name: count, dtype: int64

In [398]:
aqi.head()

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note,year,month,month_name,year_month,weekday,is_weekend,expected_status,status_match,severity_rating,season
0,2025-06-19,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon
1,2025-06-19,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon
2,2025-06-19,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon
3,2025-06-19,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2,Monsoon
4,2025-06-19,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2,Monsoon

In [399]:
disease.dtypes

year                        int64
week                        int64
outbreak_starting_date     object
reporting_date             object
state                      object
district                   object
disease_illness_name       object
status                     object
cases                     float64
deaths                    float64
unit                       object
note                       object
district_category          object
district_list              object
dtype: object

In [400]:
disease.info()
disease.isna().sum()
disease.head(5)

<class 'pandas.core.frame.DataFrame'>
Index: 26518 entries, 0 to 26552
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    26518 non-null  int64
 1   week                    26518 non-null  int64
 2   outbreak_starting_date  26511 non-null  object
 3   reporting_date          18368 non-null  object
 4   state                   26518 non-null  object
 5   district                26518 non-null  object
 6   disease_illness_name    26517 non-null  object
 7   status                  26518 non-null  object
 8   cases                   26509 non-null  float64
 9   deaths                  26509 non-null  float64
 10  unit                    26518 non-null  object
 11  note                    43 non-null     object
 12  district_category       26518 non-null  object
 13  district_list           43 non-null     object
dtypes: float64(2), int64(2), object(10)
memory usage: 3.0+ MB

,year,week,outbreak_starting_date,reporting_date,state,district,disease_illness_name,status,cases,deaths,unit,note,district_category,district_list
0,2025,14,05-04-2025,05-04-2025,Assam,Biswanath,Food Poisoning,Reported,18.0,0.0,"cases in absolute number, deaths in absolute n...",NaN,single,None
1,2025,14,03-04-2025,04-04-2025,Bihar,Aurangabad,Fever with Rash,Reported,21.0,0.0,"cases in absolute number, deaths in absolute n...",NaN,single,None
2,2025,14,31-03-2025,04-04-2025,Bihar,Madhubani,Chickenpox,Reported,14.0,0.0,"cases in absolute number, deaths in absolute n...",NaN,single,None
3,2025,14,03-04-2025,04-04-2025,Gujarat,Bhavnagar,Food Poisoning,Reported,20.0,0.0,"cases in absolute number, deaths in absolute n...",NaN,single,None
4,2025,14,01-04-2025,01-04-2025,Gujarat,Vadodara,Acute Diarrheal Disease,Reported,20.0,0.0,"cases in absolute number, deaths in absolute n...",NaN,single,None

In [401]:
disease["outbreak_starting_date"] = pd.to_datetime(
    disease["outbreak_starting_date"], 
    format="%d-%m-%Y",
    errors="coerce"
)


disease["reporting_date"] = pd.to_datetime(
    disease["reporting_date"],
    dayfirst=True,
    errors="coerce"
)
disease.dtypes

year                               int64
week                               int64
outbreak_starting_date    datetime64[ns]
reporting_date            datetime64[ns]
state                             object
district                          object
disease_illness_name              object
status                            object
cases                            float64
deaths                           float64
unit                              object
note                              object
district_category                 object
district_list                     object
dtype: object

In [402]:
disease.shape

(26518, 14)

In [403]:
blank_rows = disease[
    disease["outbreak_starting_date"].isna() | 
    disease["reporting_date"].isna()
]

print("Blank date rows:")
print(blank_rows)
print("Total blank rows:", len(blank_rows))

Blank date rows:
       year  week outbreak_starting_date reporting_date           state  \
33     2025    14             2025-01-30            NaT           Bihar
34     2025    14             2025-03-27            NaT         Manipur
35     2025    14             2025-03-27            NaT          Odisha
36     2025    14             2025-03-15            NaT   Uttar Pradesh
70     2025    13             2025-01-27            NaT  Andhra Pradesh
...     ...   ...                    ...            ...             ...
26536  2009    25             2009-06-10            NaT          Kerala
26537  2009    25             2009-06-16            NaT  Madhya Pradesh
26550  2009    25             2009-06-07            NaT     Uttarakhand
26551  2009    25             2009-06-04            NaT     Uttarakhand
26552  2009     9             2009-05-25            NaT         Manipur

                district     disease_illness_name                   status  \
33       Purbi Champaran          Fever with Rash            Reported Late
34         Churachandpur             Human Rabies            Reported Late
35               Koraput                  Measles            Reported Late
36                  Agra                  Measles            Reported Late
70                Guntur                  Cholera            Reported Late
...                  ...                      ...                      ...
26536             Kannur              Chikungunya            Reported Late
26537              Seoni  Acute Diarrheal Disease  Previous Week Follow up
26550           Nainital                Hepatitis            Reported Late
26551  Udham Singh Nagar            Enteric Fever            Reported Late
26552           Senapati              Viral Fever            Reported Late

       cases  deaths                                               unit note  \
33       6.0     0.0  cases in absolute number, deaths in absolute n...  NaN
34       3.0     3.0  cases in absolute number, deaths in absolute n...  NaN
35      21.0     0.0  cases in absolute number, deaths in absolute n...  NaN
36      25.0     0.0  cases in absolute number, deaths in absolute n...  NaN
70      18.0     0.0  cases in absolute number, deaths in absolute n...  NaN
...      ...     ...                                                ...  ...
26536   14.0     0.0  cases in absolute number, deaths in absolute n...  NaN
26537   31.0     0.0  cases in absolute number, deaths in absolute n...  NaN
26550   10.0     1.0  cases in absolute number, deaths in absolute n...  NaN
26551   35.0     0.0  cases in absolute number, deaths in absolute n...  NaN
26552  298.0     0.0  cases in absolute number, deaths in absolute n...  NaN

      district_category district_list
33               single          None
34               single          None
35               single          None
36               single          None
70               single          None
...                 ...           ...
26536            single          None
26537            single          None
26550            single          None
26551            single          None
26552            single          None

[8150 rows x 14 columns]
Total blank rows: 8150

In [404]:
disease_clean = disease.drop(blank_rows.index).reset_index(drop=True)

In [405]:
print("Remaining rows:", disease.shape[0])
print("Remaining null outbreak dates:", disease['outbreak_starting_date'].isna().sum())
print("Remaining null reporting dates:", disease['reporting_date'].isna().sum())

Remaining rows: 26518
Remaining null outbreak dates: 7
Remaining null reporting dates: 8150

In [406]:
disease["year"] = disease["outbreak_starting_date"].dt.year
disease["month"] = disease["outbreak_starting_date"].dt.month
disease["month_name"] = disease["outbreak_starting_date"].dt.strftime("%b")
disease["quarter"] = disease["outbreak_starting_date"].dt.quarter
disease["year_month"] = disease["outbreak_starting_date"].dt.to_period("M").astype(str)
disease["weekday"] = disease["outbreak_starting_date"].dt.day_name()
disease["is_weekend"] = disease["weekday"].isin(["Saturday", "Sunday"])

In [407]:
def get_season(month):
    if month in [12,1,2]:
        return "Winter"
    elif month in [3,4,5]:
        return "Summer"
    elif month in [6,7,8,9]:
        return "Monsoon"
    else:
        return "Post-Monsoon"

disease["season"] = disease["month"].apply(get_season)

In [408]:
disease["disease_illness_name"].unique()

array(['Food Poisoning', 'Fever with Rash', 'Chickenpox',
       'Acute Diarrheal Disease', 'Hepatitis A', 'Leishmaniasis',
       'Measles', 'Typhoid', 'Mumps', 'Dengue', 'Human Rabies',
       'West Nile Fever', 'Cholera', 'Scrub Typhus', 'HMPV', 'Malaria',
       'Mpox', 'Others', 'Hepatitis A and E', 'Acute Gastroenteritis',
       'Fever', 'Meningitis', 'Jaundice', 'Acute Hepatitis A', 'Rabies',
       'Paratyphoid', 'Kannad', 'Acute Gastroentiritis', 'Chikungunya',
       'Khasi', 'Acute Hepatitis E', 'Pertussis', 'Rubella', 'Champaran',
       'Measles and Rubella', 'Hepatitis', 'Gastroenteritis',
       'Nile Fever', 'Poisoning', 'Nagar', 'Hepatitis E',
       'Crimean Congo Haemandrhagic Fever (CCHF)',
       'Japanese Encephalitis', 'Diarrhoea', 'Leptospirosis', 'Kameng',
       'Acute Gastroenteritis (Norovirus)', 'Dengue and Chikungunya',
       'Dysentery', 'Diphtheria', 'Acute Hepatitis', 'Forest Disease',
       'Enteric Fever', 'Fever with rash', 'Scrub typhus', 'Zika Virus',
       'Nilgiris', nan, 'Bardhaman', 'Food poisoning', 'Shigellosis',
       'Japanese encephalitis', 'Hand Foot and Mouth Disease',
       'Amoebic Encephalitis', 'Acute encephalitic syndrome', 'Paraganas',
       'Acute gastroenteritis', 'Nipah Virus',
       'Acute Encephalitic Syndrome', 'Fever of Unknown Origin',
       'Animal bite - Dog Bite',
       'Poliomyelitis (Vaccine-Derived Polio Virus)', 'Chandipura Virus',
       'Acute Encephalitic Syndrome (Chandipura Virus)',
       'Primary Amoebic Meningo-encephalitis',
       'ARI Influenza Like Illness(ILI)', 'Only Fever less than 7 days',
       'Mushroom Poisoning', 'Anthrax',
       'Food Poisoning (Mushroom Poisoning)', 'Influenza',
       'Jaundice of less than 4 weeks', 'Fever of Unknown andigin (PUO)',
       'Acute Hepatitis B', 'Suspected Mumps',
       'Suspected Acute Hepatitis', 'Leptospirosis and Scrub Typhus',
       'Kyasanur Fandest Disease', 'Melioidosis', 'Monkey Pox',
       'Fever with Altered sensandium', 'Tetanus',
       'Dengue and Leptospirosis', 'Brucellosis',
       'Fever of Unknown Cause', 'Suspected Japanese Encephalitis',
       'Suspected Dengue Fever', 'Suspected Typhoid', 'Acute Gastritis',
       'Animal bite - Snake Bite', 'Cutaneous Leishmaniasis (Kala Azar)',
       'Suspected Mushroom Poisoning', 'Kala Azar', 'Typhoid Fever',
       'Suspected Human Rabies', 'Acute diarrheal disease (Klebsiella)',
       'Suspected Anthrax', 'Dysentery (Shigella)', 'Adenovirus',
       'Acute Flaccid Paralysis', 'Food Poisoning (Shigella Sonnie)',
       'Pyrexia of Unknown andigin (PUO)', 'Cutaneous Leishmaniasis',
       'Chickenpox and Measles', 'H3N2', 'Food Poisoning (NandoVirus)',
       'Jatropha Seeds Poisoning',
       'Fever and Upper Respiratandy Tract Infection (URTI)',
       'Allergic Conjunctivitis', 'Fever with Rash (Enterovirus)',
       'Chemical Gas Poisoning', 'Seasonal Influenza',
       'Acute Meningoencephalitis (Naegleria fowleri)',
       'Swine Flu (H1N1)', 'Malaria and Dengue',
       'Dengue and Scrub Typhus', 'Visceral Leishmaniasis',
       'Acute Respiratandy Illness', 'Nandovirus', 'Filariasis',
       'Influenza A', 'Malaria (Plasmodium Vivax)',
       'Acute Flaccid Paralysis (Epstein Bar Virus and Human Herpes Virus)',
       'Hepatitis B', 'Lyme Disease', 'Acute Febrile Illness',
       'Mixed Fever', 'Hepatitis C', 'Epidemic Dropsy',
       'Acute Respiratandy Infection',
       'Scrub Typhus and Dengue and Leptospirosis', 'Viral Fever',
       'Viral Encephalitis', 'Typhoid (Enteric Fever)',
       'Fever and Dengue', 'Avian Influenza', 'Enteric Fever (Typhoid)',
       'Convulsions of Unknown Cause', 'Bacillary Dysentery', 'COVID 19',
       'Benzene Hexachlandide (BHC) Poisoning', 'West Nile and Dengue',
       'Typhoid and Chikungunya', 'Acute Viral Fever',
       'Chikungunya and Leptospirosis', 'Influenza B',
       'Chandipura Vesiculovirus (CHPV)',
       'Hepatitis A and B and Leptospirosis', 'Trypanosomiasis',
       'Food Poisoning (Salmonellosis)',
       'Acute Encephalitis Syndrome (Japanese Encephalitis)',
       'Nipah Viral Disease', 'Food Poisoning (Caster Fruit)',
       'Acute Diarrhoeal Disease (Rota virus)', 'Salmonellosis',
       'Trichinellosis', 'Uneasiness, Vomiting and Diarrhoea',
       'Fever with Joint Pain', 'Fever with Body Pains',
       'Dengue and Japanese Encephalitis', 'H1N1',
       'Vomiting and Diarrhoea', 'Indigenous Malaria',
       'Acute Viral Encephalitis (Chandipura)', 'DVD', 'Neonatal Tetanus',
       'Nipah Viral Encephalitis', 'Cutaneous Anthrax', 'Scabies',
       'Seasonal', 'Chickenpox and Mumps', 'Falciparum Malaria',
       'Vivax Malaria', 'Fever and Headache', 'Fever with Arthralgia',
       'Leptospirosis and Typhoid', 'Herpes Simplex Encephalitis',
       'Food Poisoning (EIEC and Shigella)', 'Salmonella Gastroenteritis',
       'Fever with Cough', 'Malaria (Plasmodium Falciparum)',
       'Typhoid, Dengue and Scrub Typhus', 'Measles and Chickenpox',
       'Scrub Typhus and Chikungunya', 'Influenza like illness',
       'Hepatitis A and Leptospirosis', 'Food Poisoning (Bamangadh)',
       'Staphylococcal Food Poisoning', 'Acute Viral Conjunctivitis',
       'Food Poisoning (Seed)', 'Acute Respiratandy Influenza',
       'Paederus Dermatitis From Rove Beetle', 'Alcohol Poisoning',
       'Fever (Mixed Infection)', 'Methanol Poisoning',
       'Upper Respiratandy Tract Infection (URTI)',
       'Cast and Seed Poisoning', 'Hepatitis and Jaundice', 'Trichinella',
       'Food Poisoning (Acute Diarrhoeal Disease)',
       'Fever and Chikungunya', 'Acute Febrile Illness and Viral Fever',
       'Acute Diarrhoeal Disease and Respiratandy Tract Infection and Viral Infection',
       'Drug side effects', 'Hepatitis B and C', 'Fever Leptospirosis',
       'Acute Febrile Illness and Malaria',
       'Scrub Typhus and Dengue and Chikungunya',
       'Viral Exanthems (Multiple Papulo Pustular Lesions)',
       'Acute Febrile Illness (Enteric Fever)',
       'Malaria and Leptospirosis', 'Viral Infection',
       'Sub cutaneous Wandm', 'Encephalitis', 'Amoebic Dysentery',
       'Gas Poisoning', 'Vitamin A Overdosage', 'Acute Meningitis',
       'Viral Fever (Dengue and Chikungunya)',
       'Viral Fever (Chikungunya)', 'Food (Alcohol) poisoning',
       'Food poisoning (Adverse effect following Vitamin A administration)',
       'Food Poisoning (Staphylococcus)', 'Viral Fever (Leptospirosis)',
       'Meningococcal Meningitis', 'Viral Fever (Dengue)',
       'Viral Fever (Leptospirosis and Chikungunya)',
       'Rickettsia Scrub Typhus', 'Food poisoning (Trichinosis)'],
      dtype=object)

In [409]:
respiratory_keywords = [
    "respirat", "influenza", "h1n1", "h3n2",
    "covid", "pneumonia",  "ili",
    "urti", "upper respir", "swine flu", "avian influenza"
]

def is_respiratory(name):
    if pd.isna(name):
        return 0
    name = name.lower()
    return int(any(k in name for k in respiratory_keywords))

disease["respiratory_flag"] = disease["disease_illness_name"].apply(is_respiratory)

In [410]:
disease.head(5)

,year,week,outbreak_starting_date,reporting_date,state,district,disease_illness_name,status,cases,deaths,...,district_category,district_list,month,month_name,quarter,year_month,weekday,is_weekend,season,respiratory_flag
0,2025.0,14,2025-04-05,2025-04-05,Assam,Biswanath,Food Poisoning,Reported,18.0,0.0,...,single,None,4.0,Apr,2.0,2025-04,Saturday,True,Summer,0
1,2025.0,14,2025-04-03,2025-04-04,Bihar,Aurangabad,Fever with Rash,Reported,21.0,0.0,...,single,None,4.0,Apr,2.0,2025-04,Thursday,False,Summer,0
2,2025.0,14,2025-03-31,2025-04-04,Bihar,Madhubani,Chickenpox,Reported,14.0,0.0,...,single,None,3.0,Mar,1.0,2025-03,Monday,False,Summer,0
3,2025.0,14,2025-04-03,2025-04-04,Gujarat,Bhavnagar,Food Poisoning,Reported,20.0,0.0,...,single,None,4.0,Apr,2.0,2025-04,Thursday,False,Summer,0
4,2025.0,14,2025-04-01,2025-04-01,Gujarat,Vadodara,Acute Diarrheal Disease,Reported,20.0,0.0,...,single,None,4.0,Apr,2.0,2025-04,Tuesday,False,Summer,0

In [511]:
disease.to_excel("disease.xlsx", index = False)

In [411]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199552 entries, 0 to 199551
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           199552 non-null  int64
 1   month          199552 non-null  object
 2   state          199552 non-null  object
 3   rto            199552 non-null  object
 4   vehicle_class  199552 non-null  object
 5   fuel           199552 non-null  object
 6   value          199552 non-null  int64
 7   unit           199552 non-null  object
 8   note           0 non-null       float64
dtypes: float64(1), int64(2), object(6)
memory usage: 13.7+ MB

In [412]:
vehicle.head(10)

,year,month,state,rto,vehicle_class,fuel,value,unit,note
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN
5,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL/ETHANOL,83,value in Absolute Number,NaN
6,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PURE EV,2,value in Absolute Number,NaN
7,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,MAXI CAB,DIESEL,1,value in Absolute Number,NaN
8,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,MOPED,PETROL,3,value in Absolute Number,NaN
9,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,MOTOR CAB,DIESEL,1,value in Absolute Number,NaN

In [413]:
vehicle.isna().sum()

year                  0
month                 0
state                 0
rto                   0
vehicle_class         0
fuel                  0
value                 0
unit                  0
note             199552
dtype: int64

In [414]:
sorted(vehicle["state"].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [415]:
sorted(vehicle["vehicle_class"].unique())

['A D AGRO WORKS',
 'ACTION CONSTRUCTION EQUIPMENT LTD.',
 'ADAPTED VEHICLE',
 'AGRI KING',
 'AGRICULTURAL TRACTOR',
 'AMBULANCE',
 'AMW MOTORS LIMITED',
 'ANIMAL AMBULANCE',
 'ARMOURED/SPECIALISED VEHICLE',
 'ARTICULATED VEHICLE',
 'ASHOK LEYLAND LTD',
 'ATUL AUTO LTD',
 'AUDI AG',
 'AUXILIARY TRAILER',
 'BAJAJ AUTO LTD',
 'BMW INDIA PVT LTD',
 'BREAKDOWN VAN',
 'BULLDOZER',
 'BUS',
 'CAMPER VAN / TRAILER',
 'CAMPER VAN / TRAILER (PRIVATE USE)',
 'CASE NEW HOLLAND CONSTRUCTION EQUIPMENT(I) PVT LTD',
 'CASH VAN',
 'CATERPILLAR INDIA PRIVATE LIMITED',
 'CHEVROLET SALES INDIA PVT LTD',
 'CNH INDUSTRIAL (INDIA) PVT LTD',
 'CONSTRUCTION EQUIPMENT VEHICLE',
 'CONSTRUCTION EQUIPMENT VEHICLE (COMMERCIAL)',
 'CONTINENTAL ENGINES PVT LTD',
 'CRANE MOUNTED VEHICLE',
 'DAIMLER INDIA COMMERCIAL VEHICLES PVT. LTD',
 'DALIP SINGH AND SONS',
 'DASHMESH AGRICULTURE WORKS',
 'DHIMAN AGRICULTURAL WORKS',
 'DODIYA AGRO WORKS',
 'DUMPER',
 'E-RICKSHAW WITH CART (G)',
 'E-RICKSHAW(P)',
 'EARTH MOVING EQUIPMENT',
 'EDUCATIONAL INSTITUTION BUS',
 'EICHER MOTORS LTD',
 'EICHER TRACTORS',
 'ESCORTS CONSTRUCTION EQUIPMENT LTD',
 'ESCORTS LIMITED (AGRI MACHINERY GROUP)',
 'ESCORTS LIMITED (CONSTRUCTION EQUIPMENT)',
 'EXCAVATOR (COMMERCIAL)',
 'EXCAVATOR (NT)',
 'FIAT INDIA AUTOMOBILES PVT LTD',
 'FIRE FIGHTING VEHICLE',
 'FIRE TENDERS',
 'FORCE MOTORS LIMITED, A FIRODIA ENTERPRISE',
 'FORD INDIA PVT LTD',
 'FORK LIFT',
 'FOUR WHEELER (INVALID CARRIAGE)',
 'GAHIR AGRICULTURE INDUSTRIES',
 'GENERAL MOTORS INDIA PVT LTD',
 'GILLPREET AGRO INDUSTRIES LTD',
 'GOODS CARRIER',
 'GURUNANAK INDUSTRIES PVT LTD',
 'H-D MOTOR COMPANY INDIA PVT LTD',
 'H. R. AGRO INDUSTRIES',
 'HARVESTER',
 'HEARSES',
 'HEAVY GOODS VEHICLE',
 'HEAVY MOTOR VEHICLE',
 'HEAVY PASSENGER VEHICLE',
 'HERO HONDA MOTORS LTD',
 'HERO MOTOCORP LTD',
 'HINDUSTAN MOTOR FINANCE CORPORATION LIMITED',
 'HIRA AGRO INDUSTRIES',
 'HMT LIMITED',
 'HONDA CARS INDIA LTD',
 'HONDA MOTORCYCLE AND SCOOTER INDIA (P) LTD',
 'HYUNDAI MOTOR INDIA LTD',
 'INDIA YAMAHA MOTOR PVT LTD',
 'INDO FARM EQUIPMENT LIMITED',
 'INTERNATIONAL TRACTORS LIMITED',
 'ISUZU MOTORS INDIA PVT LTD',
 'JAGUAR LAND ROVER INDIA LIMITED',
 'JCB INDIA LIMITED',
 'JCB INDIA LTD',
 'JOHN DEERE INDIA PVT LTD(TRACTOR DEVISION)',
 'K S AGRICULTURAL INDUSTRIES',
 'K.D AGRO INDUSTRIES',
 'KARMA MECHANICAL WORKS',
 'KARTAR AGRO INDUSTRIES PVT LTD',
 'KINETIC MOTOR COMPANY LIMITED',
 'KUBOTA AGRICULTURAL MACHINERY INDIA PVT.LTD.',
 'KULAR AGRO WORKS',
 'L & T CASE EQUIPMENT PVT LTD',
 'LIBRARY VAN',
 'LIGHT GOODS VEHICLE',
 'LIGHT MOTOR VEHICLE',
 'LIGHT PASSENGER VEHICLE',
 'LML LIMITED',
 'LOTEY AGRO INDUSTRY',
 'LUXURY CAB',
 'M-CYCLE/SCOOTER',
 'M-CYCLE/SCOOTER-WITH SIDE CAR',
 'MAHINDRA & MAHINDRA LIMITED',
 'MAHINDRA & MAHINDRA LIMITED (SWARAJ DIVISION)',
 'MAHINDRA & MAHINDRA LIMITED (TRACTOR)',
 'MAHINDRA GUJARAT TRACTOR LIMITED',
 'MAHINDRA TWO WHEELERS LTD',
 'MALKIT AGRO INDUSTRIES',
 'MAN TRUCKS INDIA PVT. LTD.',
 'MANKU AGRO TECH. PVT. LTD.',
 'MARUTI SUZUKI INDIA LTD',
 'MARUTI UDYOG LTD',
 'MASSEY FERGUSON LTD',
 'MATHARU ENGINEERING WORKS',
 'MATHURA AGRO TECH.',
 'MAXI CAB',
 'MEDIUM GOODS VEHICLE',
 'MEDIUM MOTOR VEHICLE',
 'MEDIUM PASSENGER VEHICLE',
 'MERCEDES-BENZ INDIA PVT LTD',
 'MITSUBISHI MOTORS CORPORATION',
 'MOBILE CANTEEN',
 'MOBILE CLINIC',
 'MOBILE WORKSHOP',
 'MODULAR HYDRAULIC TRAILER',
 'MOPED',
 'MOTOR CAB',
 'MOTOR CAR',
 'MOTOR CARAVAN',
 'MOTOR CYCLE/SCOOTER-SIDECAR(T)',
 'MOTOR CYCLE/SCOOTER-USED FOR HIRE',
 'MOTOR CYCLE/SCOOTER-WITH TRAILER',
 'MOTORISED CYCLE (CC > 25CC)',
 'NARINDERA AGRO WORKS',
 'NEW GURDIAL AGRO INDUSTRIES PVT LTD',
 'NEW HOLLAND CONSTRUCTION EQUIPMENT(I) PVT.LTD.',
 'NISSAN MOTOR INDIA PVT LTD',
 'NOV HYDRA RIG',
 'OMNI BUS',
 'OMNI BUS (PRIVATE USE)',
 'OTHER THAN MENTIONED ABOVE',
 'OTHERS',
 'PIAGGIO VEHICLES PVT LTD',
 'POWER TILLER',
 'POWER TILLER (COMMERCIAL)',
 'PREEET AGRO INDUSTRIES PVT LTD',
 'PREET AGRO INDUSTRIES PVT LTD',
 'PREET TRACTORS PVT. LTD.',
 'PRIVATE SERVICE VEHICLE',
 'PRIVATE SERVICE VEHICLE (INDIVIDUAL USE)',
 'PULLER TRACTOR',
 'PUNJAB TRACTORS LIMITED',
 'QUADRICYCLE (COMMERCIAL)',
 'QUADRICYCLE (PRIVATE)',
 'RAMGARHIA ENGG WORKS',
 'RAMJI AGRO IND.',
 'RECOVERY VEHICLE',
 'RENAULT INDIA PVT LTD',
 'ROAD ROLLER',
 'ROYAL-ENFIELD (UNIT OF EICHER LTD)',
 'RUPAL AGRO IND',
 'SCHOOL BUS',
 'SCOOTERS INDIA LTD',
 'SEMI-TRAILER (COMMERCIAL)',
 'SKODA AUTO INDIA PVT LTD',
 'SML ISUZU LTD',
 'SNORKED LADDERS',
 'STANDARD CORPORATION INDIA LTD',
 'SUNDARAM MOTORS',
 'SURENDERA AGRO INDUSTRIES',
 'SUZUKI MOTORCYCLE INDIA PVT LTD',
 'TAFE LIMITED',
 'TATA MOTORS LTD',
 'THREE WHEELER (GOODS)',
 'THREE WHEELER (PASSENGER)',
 'THREE WHEELER (PERSONAL)',
 'THREE WHEELER(NT)',
 'THREE WHEELER(T)',
 'TIL LIMITED',
 'TOW TRUCK',
 'TOWER WAGON',
 'TOYOTA KIRLOSKAR MOTOR PVT LTD',
 'TRACTOR (COMMERCIAL)',
 'TRACTOR-TROLLEY(COMMERCIAL)',
 'TRAILER (AGRICULTURAL)',
 'TRAILER (COMMERCIAL)',
 'TRAILER FOR PERSONAL USE',
 'TREE TRIMMING VEHICLE',
 'TVS MOTOR COMPANY LTD',
 'TWO WHEELER (INVALID CARRIAGE)',
 'TWO WHEELER(NT)',
 'TWO WHEELER(T)',
 'VASHAN AGRICULTURE WORKS LTD',
 'VE COMMERCIAL VEHICLES LTD',
 'VEHICLE FITTED WITH COMPRESSOR',
 'VEHICLE FITTED WITH GENERATOR',
 'VEHICLE FITTED WITH RIG',
 'VOLKSWAGEN INDIA PVT LTD',
 'VOLVO INDIA PVT LTD',
 'X-RAY VAN']

In [416]:
sorted(vehicle["fuel"].unique())

['B(T)S III',
 'B(T)S III A',
 'B(T)S III B',
 'B(T)S IV',
 'B(T)S V',
 'BS I',
 'BS II',
 'BS III',
 'BS III (CEV)',
 'BS III/IV',
 'BS IV',
 'BS VI',
 'CNG ONLY',
 'DIESEL',
 'DIESEL/HYBRID',
 'DUAL DIESEL/CNG',
 'DUAL DIESEL/LNG',
 'ELECTRIC(BOV)',
 'ETHANOL',
 'EURO 1',
 'EURO 2',
 'EURO 3',
 'EURO 4',
 'FUEL CELL HYDROGEN',
 'LNG',
 'LPG ONLY',
 'METHANOL',
 'NOT APPLICABLE',
 'Not Available',
 'PETROL',
 'PETROL/CNG',
 'PETROL/ETHANOL',
 'PETROL/HYBRID',
 'PETROL/LPG',
 'PLUG-IN HYBRID EV',
 'PURE EV',
 'SOLAR',
 'STRONG HYBRID EV']

In [417]:
vehicle["date"] = pd.to_datetime(vehicle["month"] + " " + vehicle["year"].astype(str))

vehicle["month_num"] = vehicle["date"].dt.month
vehicle["month_name"] = vehicle["date"].dt.strftime("%b")
vehicle["quarter"] = vehicle["date"].dt.quarter
vehicle["year_month"] = vehicle["date"].dt.to_period("M").astype(str)

C:\Users\aleej\AppData\Local\Temp\ipykernel_26824\315587861.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  vehicle["date"] = pd.to_datetime(vehicle["month"] + " " + vehicle["year"].astype(str))

In [418]:
vehicle.head()

,year,month,state,rto,vehicle_class,fuel,value,unit,note,date,month_num,month_name,quarter,year_month
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN,2025-04-01,4,Apr,2,2025-04
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN,2025-04-01,4,Apr,2,2025-04
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN,2025-04-01,4,Apr,2,2025-04
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN,2025-04-01,4,Apr,2,2025-04
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN,2025-04-01,4,Apr,2,2025-04

#### **CLEANING POPULATION DATA**

In [419]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8892 entries, 0 to 8891
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    8892 non-null   int64
 1   month   8892 non-null   object
 2   state   8892 non-null   object
 3   gender  8892 non-null   object
 4   value   8892 non-null   int64
 5   unit    8892 non-null   object
 6   note    0 non-null      float64
dtypes: float64(1), int64(2), object(4)
memory usage: 486.4+ KB

In [420]:
pop.head()

   year    month        state  gender  value                unit  note
0  2036  October  West Bengal   Total  43964  value in Thousands   NaN
1  2036  October  West Bengal    Male  22615  value in Thousands   NaN
2  2036  October  West Bengal  Female  21349  value in Thousands   NaN
3  2036  October  Uttarakhand   Total   5506  value in Thousands   NaN
4  2036  October  Uttarakhand    Male   2922  value in Thousands   NaN

In [421]:
pop.isna().sum()

year         0
month        0
state        0
gender       0
value        0
unit         0
note      8892
dtype: int64

In [422]:
zone_map = {
    # North
    "Delhi": "North",
    "Haryana": "North",
    "Punjab": "North",
    "Himachal Pradesh": "North",
    "Jammu and Kashmir": "North",
    "Ladakh": "North",
    "Uttarakhand": "North",
    "Uttar Pradesh": "North",
    "Chandigarh": "North",

    # South
    "Kerala": "South",
    "Tamil Nadu": "South",
    "Karnataka": "South",
    "Andhra Pradesh": "South",
    "Telangana": "South",
    "Puducherry": "South",
    "Lakshadweep": "South",
    "Andaman and Nicobar Islands": "South",

    # West
    "Rajasthan": "West",
    "Gujarat": "West",
    "Maharashtra": "West",
    "Goa": "West",
    "Dadra and Nagar Haveli and Daman and Diu": "West",

    # East (including Northeast)
    "Bihar": "East",
    "Jharkhand": "East",
    "Odisha": "East",
    "West Bengal": "East",
    "Sikkim": "East",
    "Assam": "East",
    "Arunachal Pradesh": "East",
    "Manipur": "East",
    "Meghalaya": "East",
    "Mizoram": "East",
    "Nagaland": "East",
    "Tripura": "East",
}

In [423]:
aqi["zone"] = aqi["state"].map(zone_map)
disease["zone"] = disease["state"].map(zone_map)
vehicle["zone"] = vehicle["state"].map(zone_map)
pop["zone"] = pop["state"].map(zone_map)

In [424]:
aqi.head()

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note,year,month,month_name,year_month,weekday,is_weekend,expected_status,status_match,severity_rating,season,zone
0,2025-06-19,Uttar Pradesh,Agra,5.0,"O3,PM2.5,PM10",49,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon,North
1,2025-06-19,Karnataka,Bagalkot,1.0,PM10,46,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon,South
2,2025-06-19,Maharashtra,Akola,1.0,PM10,26,Good,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Good,True,1,Monsoon,West
3,2025-06-19,Rajasthan,Alwar,1.0,CO,76,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2,Monsoon,West
4,2025-06-19,Andhra Pradesh,Amaravati,1.0,PM10,66,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN,2025,6,Jun,2025-06,Thursday,False,Satisfactory,True,2,Monsoon,South

### **ANALYSIS**

#### **TOP AND BOTTOM POLLUTED AREAS**

In [425]:
start_date = "2024-12-01"
end_date   = "2025-05-31"

aqi_6m = aqi[
    (aqi["date"] >= start_date) &
    (aqi["date"] <= end_date)].copy()
aqi_6m["date"].min(), aqi_6m["date"].max()

(Timestamp('2024-12-01 00:00:00'), Timestamp('2025-05-31 00:00:00'))

In [426]:
area_day_counts = (aqi_6m.groupby(["state","area"])["date"].nunique().reset_index(name = "total_days"))
reliable_areas = area_day_counts[area_day_counts["total_days"] >= 90]

In [427]:
aqi_6m_reliable = aqi_6m.merge(reliable_areas[["state", "area"]],on=["state", "area"], how="inner")

In [428]:
area_summary = (aqi_6m_reliable.groupby(["state","area"]).agg(avg_aqi = ("aqi_value","mean"),
                                                              avg_severity = ("severity_rating","mean"), 
                                                              severe_days=("severity_rating", lambda x: (x >= 5).sum()),
                                                              total_days = ("severity_rating","count")).reset_index())

In [429]:
area_summary["severe_day_percentage"] = (area_summary["severe_days"]/area_summary["total_days"])*100

In [430]:
area_summary.describe()

,avg_aqi,avg_severity,severe_days,total_days,severe_day_percentage
count,248.000000,248.000000,248.000000,248.000000,248.000000
mean,109.407477,2.446296,1.572581,161.919355,0.963314
std,37.882144,0.540429,5.093734,21.476320,3.374060
min,33.167742,1.000000,0.000000,91.000000,0.000000
25%,80.259474,2.033961,0.000000,150.750000,0.000000
50%,109.767463,2.550119,0.000000,170.000000,0.000000
75%,136.077264,2.835700,1.000000,180.000000,0.667785
max,265.309353,4.179856,61.000000,181.000000,43.884892

In [431]:
area_summary.head()

,state,area,avg_aqi,avg_severity,severe_days,total_days,severe_day_percentage
0,Andhra Pradesh,Amaravati,74.129944,1.909605,0,177,0.0
1,Andhra Pradesh,Anantapur,62.225166,1.821192,0,151,0.0
2,Andhra Pradesh,Chittoor,86.125874,2.209790,0,143,0.0
3,Andhra Pradesh,Kadapa,74.137255,1.986928,0,153,0.0
4,Andhra Pradesh,Rajamahendravaram,85.921348,2.084270,0,178,0.0

In [432]:
area_summary[area_summary["severe_day_percentage"]>100]

Empty DataFrame
Columns: [state, area, avg_aqi, avg_severity, severe_days, total_days, severe_day_percentage]
Index: []

##### **TOP 5 POLLUTED AREAS**

In [433]:
top_5_areas = area_summary.sort_values(["avg_severity","severe_day_percentage"],ascending = False).head(5)
top_5_areas.head()

,state,area,avg_aqi,avg_severity,severe_days,total_days,severe_day_percentage
10,Assam,Byrnihat,265.309353,4.179856,61,139,43.884892
46,Delhi,Delhi,227.038674,3.756906,30,181,16.574586
25,Bihar,Hajipur,217.114458,3.596386,24,166,14.457831
55,Haryana,Gurugram,197.022599,3.491525,14,177,7.909605
223,Uttar Pradesh,Ghaziabad,183.165746,3.342541,14,181,7.734807

##### **BOTTOM 5 POLLUTED AREAS**

In [434]:
bottom_5_areas = area_summary.sort_values(["avg_severity","severe_day_percentage"],ascending = True).head(5)
bottom_5_areas.head()

,state,area,avg_aqi,avg_severity,severe_days,total_days,severe_day_percentage
76,Karnataka,Vijayapura,44.989691,1.000000,0,97,0.0
212,Tamil Nadu,Tirunelveli,33.167742,1.000000,0,155,0.0
61,Karnataka,Chamarajanagar,44.929032,1.038710,0,155,0.0
58,Karnataka,Bagalkot,45.706422,1.055046,0,109,0.0
70,Karnataka,Madikeri,40.239766,1.228070,0,171,0.0

In [435]:
area_summary.to_excel("area_aqi_summary_last_6_months.xlsx", index=False)

In [436]:
top_5_areas.to_excel("top_5_polluted_areas.xlsx", index=False)

In [437]:
bottom_5_areas.to_excel("bottom_5_clean_areas.xlsx", index=False)

#### **TOP AND BOTTOM POLLUTANTS BY REGION**

In [438]:
aqi_pollutants = aqi[aqi["date"] >= "2022-01-01"].copy()
aqi_pollutants["pollutant_list"] = (aqi_pollutants["prominent_pollutants"].astype(str).str.split(","))
aqi_pollutants = aqi_pollutants.explode("pollutant_list")
aqi_pollutants["pollutant"] = aqi_pollutants["pollutant_list"].str.strip()
aqi_pollutants = aqi_pollutants[aqi_pollutants["pollutant"].notna()&(aqi_pollutants["pollutant"]!="")]

In [439]:
regional_pollutant_count = (aqi_pollutants.groupby(["zone","pollutant"]).size().reset_index(name = "occurance_count"))

In [440]:
def top_bottom_pollutants(df,n=2):
    top = df.nlargest(n,"occurance_count")
    bottom = df.nsmallest(n,"occurance_count")
    return pd.concat([top,bottom])

In [441]:
regional_pollution_summary = (regional_pollutant_count.groupby("zone",group_keys = False).apply(top_bottom_pollutants))
regional_pollution_summary.head(10)

C:\Users\aleej\AppData\Local\Temp\ipykernel_26824\1455564993.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  regional_pollution_summary = (regional_pollutant_count.groupby("zone",group_keys = False).apply(top_bottom_pollutants))

     zone pollutant  occurance_count
4    East      PM10            27104
5    East     PM2.5            22941
7    East       SO3                1
1    East       NH3                3
12  North      PM10            34735
13  North     PM2.5            28394
9   North       NH3               19
15  North       SO3               31
20  South      PM10            33998
21  South     PM2.5            12088

In [442]:
regional_pollution_summary.to_excel("Regional_Pollution_data.xlsx", index = False)

#### **WEEKENDS AND WEEKDAYS AQI**

In [443]:
metro_cities = ["Delhi", "Mumbai", "Chennai", "Kolkata", "Bengaluru", "Hyderabad", "Ahmedabad", "Pune"]

In [444]:
latest_date = aqi["date"].max()
one_yr = latest_date - pd.DateOffset(years=1)

In [445]:
aqi_metro = aqi[(aqi["area"].isin(metro_cities)) & (aqi["date"]>= one_yr)]

In [446]:
weekends_vs_weekdays = (aqi_metro.groupby(["area","is_weekend"])["aqi_value"].mean().reset_index())

In [447]:
weekends_vs_weekdays["day_type"] = weekends_vs_weekdays["is_weekend"].map({True :"Weekend" , False : "Weekday"})
weekends_vs_weekdays.drop(columns = "is_weekend",inplace = True)

In [448]:
weekends_vs_weekdays.head()

        area   aqi_value day_type
0  Ahmedabad  110.049808  Weekday
1  Ahmedabad  113.269231  Weekend
2  Bengaluru   72.191571  Weekday
3  Bengaluru   72.615385  Weekend
4    Chennai   71.360153  Weekday

In [449]:
weekends_vs_weekdays.to_excel("Weekends_Vs_Weekday_AQI.xlsx" , index = False)

#### **SEASONAL, MONTHLY AND YEARLY AQI**

In [450]:
seasonal_aqi = ( aqi.groupby(["year","season"])["aqi_value"].mean().reset_index())
monthly_aqi = (aqi.groupby(["year","month_name"])["aqi_value"].mean().reset_index())
yearly_aqi = (aqi.groupby("year")["aqi_value"].mean().reset_index())

In [451]:
seasonal_aqi.to_excel("Seasonal AQI Trends.xlsx" , index = False)

In [452]:
monthly_aqi.to_excel("Monthly AQI Trends.xlsx" , index = False)

In [453]:
yearly_aqi.to_excel("Yearly AQI Trends.xlsx" , index = False)

#### **PRIORITY CITY IDENTIFICATION**

In [454]:
aqi_recent = aqi[aqi["year"]>=2022].copy()

In [455]:
city_year_aqi = aqi_recent.groupby(["area","year"])["aqi_value"].mean().reset_index()

AQI <= 100 - Acceptable Recovery
AQI > 100 - unhealthy Baseline

In [456]:
city_baseline = (city_year_aqi.groupby("area")["aqi_value"].min().reset_index())
priority_cities = city_baseline[city_baseline["aqi_value"] > 100].sort_values("aqi_value"  , ascending = False)

In [457]:
severity_consistency = (aqi_recent.groupby(["area","year"])["severity_rating"].mean().reset_index())
severity_baseline = (severity_consistency.groupby("area")["severity_rating"].min().reset_index())

In [458]:
priority_cities = priority_cities.merge(severity_baseline, on="area", how="left")

In [459]:
priority_cities.head()

        area   aqi_value  severity_rating
0   Byrnihat  218.703571         3.667857
1      Delhi  203.632877         3.531507
2  Darbhanga  192.685015         3.333333
3   Gurugram  188.512329         3.375342
4  Ghaziabad  173.911243         3.229508

In [460]:
priority_cities.to_excel("Priority City Identification.xlsx" , index = False)

#### **NO OF DAYS WITH EACH AQI CATEGORY IN METRO CITIES**

In [461]:
aqi_metro = aqi[aqi["area"].isin(metro_cities) & (aqi["date"].between("2025-03-01" , "2025-05-31"))]

In [462]:
metro_aqi_days = aqi_metro.groupby(["area","air_quality_status"]).size().reset_index(name = "days_count")

In [463]:
metro_aqi_days.head()

        area air_quality_status  days_count
0  Ahmedabad               Good           1
1  Ahmedabad           Moderate          57
2  Ahmedabad               Poor           5
3  Ahmedabad       Satisfactory          29
4  Bengaluru               Good           5

In [464]:
metro_aqi_days.to_excel("No. of Days with each AQI Category in Metro Cities.xlsx" , index = False)

#### **TOP TWO DISEASES IN EACH STATE**

In [465]:
latest_year = disease["year"].max()
start_year = latest_year - 2
disease_3y = disease[disease["year"].between(start_year, latest_year)]

In [466]:
state_disease_cases = (disease_3y.groupby(["state", "disease_illness_name"], as_index=False)["cases"].sum())

In [467]:
top2_diseases = (state_disease_cases.sort_values(["state", "cases"], ascending=[True, False]).groupby("state").head(2))

In [468]:
aqi_3y = aqi[aqi["year"].between(start_year, latest_year)]

In [469]:
state_avg_aqi = (aqi_3y.groupby("state", as_index=False)["aqi_value"].mean().rename(columns={"aqi_value": "avg_aqi"}))

In [470]:
final_df = top2_diseases.merge(state_avg_aqi,on="state",how="left")

In [471]:
final_df = final_df.merge(disease[["disease_illness_name", "respiratory_flag"]].drop_duplicates(),on="disease_illness_name",how="left")

In [472]:
final_df.head()

,state,disease_illness_name,cases,avg_aqi,respiratory_flag
0,Andaman and Nicobar Islands,Acute Diarrheal Disease,94.0,60.523810,0
1,Andaman and Nicobar Islands,Fever with Rash,8.0,60.523810,0
2,Andhra Pradesh,Acute Diarrheal Disease,3167.0,77.904988,0
3,Andhra Pradesh,Cholera,1081.0,77.904988,0
4,Arunachal Pradesh,Acute Diarrheal Disease,290.0,55.719008,0

In [473]:
final_df.to_excel("Top Two Diseases in Each State.xlsx" , index = False)

#### **HEALTH IMPACT SUMMARY**

In [474]:
latest_year = aqi["year"].max()
start_year = latest_year - 2

In [475]:
aqi_3y = aqi[aqi["year"].between(start_year, latest_year)]

In [476]:
state_avg_aqi = (aqi_3y.groupby("state", as_index=False)["aqi_value"].mean().rename(columns={"aqi_value": "avg_aqi"}))

In [477]:
state_avg_aqi["aqi_rank"] = (state_avg_aqi["avg_aqi"].rank(method="dense", ascending=True).astype(int))

In [478]:
state_avg_aqi.head()

                         state     avg_aqi  aqi_rank
0  Andaman and Nicobar Islands   60.523810         5
1               Andhra Pradesh   77.904988        11
2            Arunachal Pradesh   55.719008         2
3                        Assam  113.951724        20
4                        Bihar  149.821989        29

In [479]:
disease = disease[disease["year"].between(start_year, latest_year)]

In [480]:
state_disease_agg = (disease.groupby("state", as_index=False).agg(total_cases=("cases", "sum"),total_deaths=("deaths", "sum")))

In [481]:
state_disease_agg["case_fatality_rate"] = (state_disease_agg["total_deaths"] /state_disease_agg["total_cases"] * 100).replace([float("inf"), float("nan")], 0)

In [482]:
final_state_summary = (state_avg_aqi.merge(state_disease_agg, on="state", how="inner").sort_values("aqi_rank"))
final_state_summary

,state,avg_aqi,aqi_rank,total_cases,total_deaths,case_fatality_rate
19,Mizoram,50.392082,1,1058.0,5.0,0.472590
2,Arunachal Pradesh,55.719008,2,1002.0,19.0,1.896208
22,Puducherry,56.137529,3,325.0,0.0,0.000000
25,Sikkim,58.661829,4,309.0,0.0,0.000000
0,Andaman and Nicobar Islands,60.523810,5,109.0,0.0,0.000000
13,Karnataka,62.901656,6,16777.0,78.0,0.464922
26,Tamil Nadu,66.525400,7,7394.0,21.0,0.284014
14,Kerala,68.794489,8,28351.0,36.0,0.126980
11,Jammu and Kashmir,69.714976,9,5737.0,30.0,0.522921
18,Meghalaya,71.974125,10,2007.0,41.0,2.042850
1,Andhra Pradesh,77.904988,11,5399.0,19.0,0.351917
6,Chhattisgarh,78.741637,12,11531.0,24.0,0.208135
27,Telangana,81.463333,13,645.0,3.0,0.465116
20,Nagaland,82.627075,14,1361.0,7.0,0.514328
30,Uttarakhand,87.039113,15,2476.0,15.0,0.605816
16,Maharashtra,101.087312,16,17827.0,160.0,0.897515
8,Gujarat,107.164006,17,10921.0,207.0,1.895431
15,Madhya Pradesh,107.469171,18,13886.0,114.0,0.820971
17,Manipur,107.526316,19,3650.0,11.0,0.301370
3,Assam,113.951724,20,7900.0,120.0,1.518987
31,West Bengal,114.677352,21,6976.0,3.0,0.043005
23,Punjab,116.606313,22,2302.0,11.0,0.477845
21,Odisha,121.726009,23,14789.0,49.0,0.331327
29,Uttar Pradesh,122.494983,24,8744.0,57.0,0.651876
24,Rajasthan,127.213706,25,3252.0,8.0,0.246002
9,Haryana,136.834879,26,2259.0,10.0,0.442674
28,Tripura,141.525126,27,790.0,0.0,0.000000
5,Chandigarh,143.636667,28,16.0,0.0,0.000000
4,Bihar,149.821989,29,4078.0,24.0,0.588524
10,Himachal Pradesh,160.745349,30,3065.0,2.0,0.065253
12,Jharkhand,162.147803,31,10751.0,19.0,0.176728
7,Delhi,206.661111,32,40.0,0.0,0.000000

In [483]:
final_state_summary.to_excel("State_AQI_Health_Summary.xlsx",index=False)

#### **EV - STATE AQI COMPARISON**

In [484]:
ev_df = vehicle[vehicle["fuel"] == "PURE EV"]

In [485]:
ev_state = (ev_df.groupby("state", as_index=False)["value"].sum().rename(columns={"value": "ev_count"}))

In [486]:
total_vehicle_state = (vehicle.groupby("state", as_index=False)["value"].sum().rename(columns={"value": "total_vehicles"}))

In [487]:
ev_state = ev_state.merge(total_vehicle_state, on="state")

In [488]:
ev_state["ev_share_pct"] = (ev_state["ev_count"] / ev_state["total_vehicles"]) * 100

In [489]:
ev_state = ev_state.merge(state_avg_aqi, on = "state")

In [490]:
ev_state.head()

,state,ev_count,total_vehicles,ev_share_pct,avg_aqi,aqi_rank
0,Andaman and Nicobar Islands,30,93503,0.032085,60.523810,5
1,Andhra Pradesh,23515,10808141,0.217567,77.904988,11
2,Arunachal Pradesh,27,273649,0.009867,55.719008,2
3,Assam,9680,5170297,0.187223,113.951724,20
4,Bihar,23621,11922814,0.198116,149.821989,29

In [491]:
top5_ev_states = ev_state.sort_values("ev_share_pct", ascending=False).head(5)

In [492]:
bottom5_ev_states = ev_state.sort_values("ev_share_pct", ascending=True).head(5)

In [493]:
top5_ev_states.head()

,state,ev_count,total_vehicles,ev_share_pct,avg_aqi,aqi_rank
16,Maharashtra,133095,26821985,0.496216,101.087312,16
13,Karnataka,80197,17662508,0.454052,62.901656,6
14,Kerala,38240,9612446,0.397818,68.794489,8
21,Odisha,30329,7708935,0.393427,121.726009,23
15,Madhya Pradesh,55226,14344833,0.384989,107.469171,18

In [494]:
bottom5_ev_states.head()

,state,ev_count,total_vehicles,ev_share_pct,avg_aqi,aqi_rank
20,Nagaland,8,285813,0.002799,82.627075,14
25,Sikkim,3,92393,0.003247,58.661829,4
2,Arunachal Pradesh,27,273649,0.009867,55.719008,2
18,Meghalaya,49,338483,0.014476,71.974125,10
17,Manipur,51,351861,0.014494,107.526316,19

In [495]:
ev_state.to_excel("State-AQI comparison.xlsx" , index = False)

In [496]:
top5_ev_states.to_excel("top5_ev_states.xlsx" , index = False)

In [497]:
bottom5_ev_states.to_excel("bottom5_ev_states.xlsx" , index = False)

#### **VEHICLE FUEL TYPE VS STATE AQI**

In [498]:
state_fuel = (vehicle.groupby(["state", "fuel"])["value"].sum().reset_index())

In [499]:
state_totals = (state_fuel.groupby("state")["value"].sum() .reset_index(name="total_vehicles"))

In [500]:
state_fuel = state_fuel.merge(state_totals, on="state")
state_fuel["fuel_share_pct"] = ( state_fuel["value"] / state_fuel["total_vehicles"] * 100)

In [501]:
analysis_df = state_fuel.merge(state_avg_aqi, on="state", how="inner")

In [502]:
analysis_df.head()

,state,fuel,value,total_vehicles,fuel_share_pct,avg_aqi,aqi_rank
0,Andaman and Nicobar Islands,DIESEL,8306,93503,8.883137,60.52381,5
1,Andaman and Nicobar Islands,ELECTRIC(BOV),248,93503,0.265232,60.52381,5
2,Andaman and Nicobar Islands,LPG ONLY,10,93503,0.010695,60.52381,5
3,Andaman and Nicobar Islands,NOT APPLICABLE,60,93503,0.064169,60.52381,5
4,Andaman and Nicobar Islands,PETROL,83672,93503,89.485899,60.52381,5

In [503]:
vehicle = vehicle[vehicle["fuel"] != "NOT APPLICABLE"]
vehicle = vehicle[vehicle["fuel"] != "Not Available"]
vehicle = vehicle[vehicle["fuel"] != "0"]

In [504]:
analysis_df.head()

,state,fuel,value,total_vehicles,fuel_share_pct,avg_aqi,aqi_rank
0,Andaman and Nicobar Islands,DIESEL,8306,93503,8.883137,60.52381,5
1,Andaman and Nicobar Islands,ELECTRIC(BOV),248,93503,0.265232,60.52381,5
2,Andaman and Nicobar Islands,LPG ONLY,10,93503,0.010695,60.52381,5
3,Andaman and Nicobar Islands,NOT APPLICABLE,60,93503,0.064169,60.52381,5
4,Andaman and Nicobar Islands,PETROL,83672,93503,89.485899,60.52381,5

In [505]:
analysis_df.to_excel(" Vehicle Fuel Type VS AQI.xlsx" , index = False)

#### **POPULATION CORELATION WITH AQI**

In [506]:
pop_state_2024 = (pop[(pop["gender"] == "Total") & (pop["year"] == 2024)].groupby("state", as_index=False)["value"].mean() .rename(columns={"value": "population_thousands"}))

In [507]:
pop_aqi = state_avg_aqi.merge(pop_state_2024,on="state",how="inner")

In [508]:
pop_aqi.head()

                         state     avg_aqi  aqi_rank  population_thousands
0  Andaman and Nicobar Islands   60.523810         5            181.000000
1               Andhra Pradesh   77.904988        11          19899.000000
2            Arunachal Pradesh   55.719008         2            410.000000
3                        Assam  113.951724        20           5682.666667
4                        Bihar  149.821989        29          15992.666667

In [509]:
pop_aqi.to_excel("Population_Corealtion_with_AQI.xlsx" , index =False)